<h2>Add exercises to 
{{workout.title}}</h2>


<form action="/workout/{{id}}/filter" method="POST">
    <select name="target">
        {{#if target}}
        <option value="0">{{target}}</option>
        <option value="abductors" >abductors</option>
        <option value="abs" >abs</option>
        <option value="adductors" >adductors</option>
        <option value="biceps" >biceps</option>
        <option value="calves" >calves</option>
        <option value="cardiovascular system" >cardiovascular system</option>
        <option value="delts" >delts</option>
        <option value="forearms" >forearms</option>
        <option value="glutes" >glutes</option>
        <option value="hamstrings" >hamstrings</option>
        <option value="lats" >lats</option>
        <option value="levator scapulae" >levator scapulae</option>
        <option value="pectorals" >pectorals</option>
        <option value="quads" >quads</option>
        <option value="serratus anterior" >serratus anterior</option>
        <option value="spine" >spine</option></var>
        <option value="traps" >traps</option>
        <option value="triceps" >triceps</option>
        <option value="upper back" >upper back</option>
        {{else}}
        <option value="0">Select</option>
        <option value="abductors" >abductors</option>
        <option value="abs" >abs</option>
        <option value="adductors" >adductors</option>
        <option value="biceps" >biceps</option>
        <option value="calves" >calves</option>
        <option value="cardiovascular system" >cardiovascular system</option>
        <option value="delts" >delts</option>
        <option value="forearms" >forearms</option>
        <option value="glutes" >glutes</option>
        <option value="hamstrings" >hamstrings</option>
        <option value="lats" >lats</option>
        <option value="levator scapulae" >levator scapulae</option>
        <option value="pectorals" >pectorals</option>
        <option value="quads" >quads</option>
        <option value="serratus anterior" >serratus anterior</option>
        <option value="spine" >spine</option></var>
        <option value="traps" >traps</option>
        <option value="triceps" >triceps</option>
        <option value="upper back" >upper back</option>
        {{/if}}
    </select>

    <button type="submit">Select</button>
</form>


<form action="/workout/{{id}}" method="POST">

    <label>Select exercise</label>
    <select name="exercise">
        <option value="0">Select</option>
        {{#each allExercises }}
            <option value={{id}}>{{name}}</option>
        {{/each}}
    </select>



    <label>Day</label>
    <select name="day">
        <option value="0">Select</option>
        <option value="day1">Day 1</option>
        <option value="day2">Day 2</option>
        <option value="day3">Day 3</option>
        <option value="day4">Day 4</option>
        <option value="day5">Day 5</option>
        <option value="day6">Day 6</option>
        <option value="day7">Day 7</option>
    </select>

    <label>Sets</label>     
    <input type="number" name="sets" />
    


    <label>Reps</label>
    <input type="number" name="reps" />
    

    <button type="submit">Create</button>

</form>


<br>
<br>
<br>

<h4>Day 1</h4>
{{#each workout.exercises}}
    {{#eq day "day1"}}
        
        <a href="/listexercise/{{id}}">{{name}}</a>
        <br>
        sets: {{sets}}
        <br>
        reps: {{reps}}
        <br><br>

        <form action="/exercise-delete/{{_id}}/{{../id}}" method="POST">
            <button type="submit">Delete</button>
        </form>

        
        <p>{{_id}}</p>
       

 <br><br>
    {{/eq}}
{{/each}}

<br><br><br><br>

<h4>Day 2</h4>
{{#each workout.exercises}}
    {{#eq day "day2"}}
        
        <a href="/listexercise/{{id}}">{{name}}</a>
        <br>
        sets: {{sets}}
        <br>
        reps: {{reps}}
        <br><br>

        <form action="/exercise-delete/{{_id}}/{{../id}}" method="POST">
            <button type="submit">Delete</button>
        </form>

        
        <p>{{_id}}</p>


 <br><br>
        
    {{/eq}}
{{/each}}

<br><br><br><br>


<h4>Day 3</h4>
{{#each workout.exercises}}
    {{#eq day "day3"}}

        <a href="/listexercise/{{id}}">{{name}}</a>
        <br>
        sets: {{sets}}
        <br>
        reps: {{reps}}
        <br><br>

        <form action="/exercise-delete/{{_id}}/{{../id}}" method="POST">
            <button type="submit">Delete</button>
        </form>

        
        <p>{{_id}}</p>
       

 <br><br>
    {{/eq}}
{{/each}}

<br><br><br><br>

<h4>Day 4</h4>
{{#each workout.exercises}}
    {{#eq day "day4"}}
        
        <a href="/listexercise/{{id}}">{{name}}</a>
        <br>
        sets: {{sets}}
        <br>
        reps: {{reps}}
        <br><br>

        <form action="/exercise-delete/{{_id}}/{{../id}}" method="POST">
            <button type="submit">Delete</button>
        </form>

        
        <p>{{_id}}</p>
       

 <br><br>
    {{/eq}}
{{/each}}

<br><br><br><br>

<h4>Day 5</h4>
{{#each workout.exercises}}
    {{#eq day "day5"}}
        
        <a href="/listexercise/{{id}}">{{name}}</a>
        <br>
        sets: {{sets}}
        <br>
        reps: {{reps}}
        <br><br>

        <form action="/exercise-delete/{{_id}}/{{../id}}" method="POST">
            <button type="submit">Delete</button>
        </form>

        
        <p>{{_id}}</p>
       

 <br><br>
    {{/eq}}
{{/each}}

<br><br><br><br>

<h4>Day 6</h4>
{{#each workout.exercises}}
    {{#eq day "day6"}}
        
        <a href="/listexercise/{{id}}">{{name}}</a>
        <br>
        sets: {{sets}}
        <br>
        reps: {{reps}}
        <br><br>

        <form action="/exercise-delete/{{_id}}/{{../id}}" method="POST">
            <button type="submit">Delete</button>
        </form>

        
        <p>{{_id}}</p>
       

 <br><br>
    {{/eq}}
{{/each}}

<br><br><br><br>

<h4>Day 7</h4>
{{#each workout.exercises}}
    {{#eq day "day7"}}
        
        <a href="/listexercise/{{id}}">{{name}}</a>
        <br>
        sets: {{sets}}
        <br>
        reps: {{reps}}
        <br><br>

        <form action="/exercise-delete/{{_id}}/{{../id}}" method="POST">
            <button type="submit">Delete</button>
        </form>

        
        <p>{{_id}}</p>
       

 <br><br>
        
    {{/eq}}
{{/each}}



