<h2>add exercise</h2>

<form action="/workout/{{id}}" method="POST">


    <label>Select exercise</label>
    <select name="exercise">
        <option value="0">Select</option>
        {{#each exec}}
            <option value={{id}}>{{name}}</option>
        {{/each}}
    </select>





    <button type="submit">Create</button>

</form>

<br>

{{workout.title}}
<br>
{{#each workout.exercise}}

{{name}}

<br>

{{/each}}