<h1 class="capitalize">{{name}}</h1>

<p class="capitalize">Equipment: {{equipment}}</p>
<p class="capitalize">Body part: {{bodyPart}}</p>
<p class="capitalize">Target Muscle: {{target}}</p>


{{#if gifUrl}}
<img src ={{gifUrl}} />
{{/if}}
