<h1>{{name}}</h1>

<p>{{equipment}}</p>
<p>{{bodyPart}}</p>
<p>{{targe}}</p>


{{#if gifUrl}}
<img src ={{gifUrl}} />
{{/if}}









{{!-- bodyPart: String,
        equipment: String,
        gifUrl: String,
        id: String,
        name: String,
        target: String, 
        day: String,
        sets: Number,
        reps: Number --}}