<h2>Workout list</h2>

{{#each workouts}}

<a href="/workout-detail/{{id}}">{{title}}</a>
<br>

Description: {{description}}
<br>
<br>
Main Goal:  {{workoutGoals}}

<br>

<a href="workout/{{id}}">Add an exercise</a>

<hr />
{{/each}}

