<h2 class="profile-title">{{title}}</h2>

<br><br><br><br>


<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
        <h4 class="workoutDay">Day 1</h4> <br><br>
        <div class="workoutDetail">
            
            {{#each exercises}}
            
                {{#eq day "day1"}}
                    
                    <a href="/listexercise/{{id}}" class="capitalize">{{name}}</a>
                    
                    sets: {{sets}}
                    <br>
                    reps: {{reps}}
                    <br><br>
                {{/eq}}
                
            {{/each}}
            
        </div>
      
    </div>
    <div class="carousel-item">
        <h4 class="workoutDay">Day 2</h4>  <br><br>
        <div class="workoutDetail">
        {{#each exercises}}
            {{#eq day "day2"}}
                
                <a href="/listexercise/{{id}}" class="capitalize">{{name}}</a>
                
                sets: {{sets}}
                <br>
                reps: {{reps}}
                <br><br>
            {{/eq}}
        {{/each}}
      </div>
    </div>
    <div class="carousel-item">
        <h4 class="workoutDay">Day 3</h4>  <br><br>
        <div class="workoutDetail">
        {{#each exercises}}
            {{#eq day "day3"}}

                <a href="/listexercise/{{id}}" class="capitalize">{{name}}</a>
                
                sets: {{sets}}
                <br>
                reps: {{reps}}
                <br><br>
            {{/eq}}
        {{/each}}
        </div>    
    </div>
    <div class="carousel-item">
        <h4 class="workoutDay">Day 4</h4>  <br><br>
        <div class="workoutDetail">
        {{#each exercises}}
            {{#eq day "day4"}}
                
                <a href="/listexercise/{{id}}" class="capitalize">{{name}}</a>
                
                sets: {{sets}}
                <br>
                reps: {{reps}}
                <br><br>
            {{/eq}}
        {{/each}}
      </div>
    </div>
    <div class="carousel-item">
        <h4 class="workoutDay">Day 5</h4>  <br><br>
        <div class="workoutDetail">
        {{#each exercises}}
            {{#eq day "day5"}}
                
                <a href="/listexercise/{{id}}" class="capitalize">{{name}}</a>
                
                sets: {{sets}}
                <br>
                reps: {{reps}}
                <br><br>
            {{/eq}}
        {{/each}}
      </div>
    </div>
    <div class="carousel-item">
        <h4 class="workoutDay">Day 6</h4>  <br><br>
        <div class="workoutDetail">
        {{#each exercises}}
            {{#eq day "day6"}}
                
                <a href="/listexercise/{{id}}" class="capitalize">{{name}}</a>
                
                sets: {{sets}}
                <br>
                reps: {{reps}}
                <br><br>
            {{/eq}}
        {{/each}}
     </div> 
    </div>
    <div class="carousel-item">
        <h4 class="workoutDay">Day 7</h4>  <br><br>
        <div class="workoutDetail">
        {{#each exercises}}
            {{#eq day "day7"}}
                
                <a href="/listexercise/{{id}}" class="capitalize">{{name}}</a>
                
                sets: {{sets}}
                <br>
                reps: {{reps}}
                <br><br>
                
            {{/eq}}
        {{/each}}
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>








{{!-- <h4>Day 1</h4>
{{#each exercises}}
    {{#eq day "day1"}}
        
        <a href="/listexercise/{{id}}" class="capitalize">{{name}}</a>
        <br>
        sets: {{sets}}
        <br>
        reps: {{reps}}
        <br><br>
    {{/eq}}
{{/each}}

<br><br><br><br>

<h4>Day 2</h4>
{{#each exercises}}
    {{#eq day "day2"}}
        
        <a href="/listexercise/{{id}}" class="capitalize">{{name}}</a>
        <br>
        sets: {{sets}}
        <br>
        reps: {{reps}}
        <br><br>
    {{/eq}}
{{/each}}

<br><br><br><br>


<h4>Day 3</h4>
{{#each exercises}}
    {{#eq day "day3"}}

        <a href="/listexercise/{{id}}" class="capitalize">{{name}}</a>
        <br>
        sets: {{sets}}
        <br>
        reps: {{reps}}
        <br><br>
    {{/eq}}
{{/each}}

<br><br><br><br>

<h4>Day 4</h4>
{{#each exercises}}
    {{#eq day "day4"}}
        
        <a href="/listexercise/{{id}}" class="capitalize">{{name}}</a>
        <br>
        sets: {{sets}}
        <br>
        reps: {{reps}}
        <br><br>
    {{/eq}}
{{/each}}

<br><br><br><br>

<h4>Day 5</h4>
{{#each exercises}}
    {{#eq day "day5"}}
        
        <a href="/listexercise/{{id}}" class="capitalize">{{name}}</a>
        <br>
        sets: {{sets}}
        <br>
        reps: {{reps}}
        <br><br>
    {{/eq}}
{{/each}}

<br><br><br><br>

<h4>Day 6</h4>
{{#each exercises}}
    {{#eq day "day6"}}
        
        <a href="/listexercise/{{id}}" class="capitalize">{{name}}</a>
        <br>
        sets: {{sets}}
        <br>
        reps: {{reps}}
        <br><br>
    {{/eq}}
{{/each}}

<br><br><br><br>

<h4>Day 7</h4>
{{#each exercises}}
    {{#eq day "day7"}}
        
        <a href="/listexercise/{{id}}" class="capitalize">{{name}}</a>
        <br>
        sets: {{sets}}
        <br>
        reps: {{reps}}
        <br><br>
        
    {{/eq}}
{{/each}} --}}