<h2>workout list</h2>

{{#each workouts}}

<a href="/workout-detail/{{id}}">{{title}}</a>
<br>

description: {{description}}
<br>
<br>
{{workoutGoals}}

<br>

<a href="workout/{{id}}">Add an exercise</a>

<hr />
{{/each}}

{{!-- <img src={{fin.gifUrl}}> --}}