<h2>Public Workout Feed</h2>

{{#each workouts}}

<a href="/workout-detail/{{id}}"><h4>{{title}}</h4></a>
<br>

<div>
        <img src={{user.photo}} alt="user profile pic" style="height: 40px; width: 40px; border-radius:50px;"> 
        <p> by <a href="/profile/{{user.id}}">{{user.username}}</a>
        </p>
 <div>

<br>

Description: {{description}}
<br>
<br>
Main Goal:  {{workoutGoals}}
<br>


<form action="/workout/{{id}}/like" method="POST">
        <button type="submit"> 💪  {{like.length}}</button>
</form>

 
All Comments:
{{#each reviews}}
<p>{{comment}} - {{name}}</p>
{{/each}}


<form action="/workout/{{id}}/comment" method="POST">
    <textarea name="comment" placeholder="Add a comment.."></textarea>
    <button type="submit">Comment</button>

</form>

<hr />


{{/each}}

