<h1>Create wk</h1>

<form action="/create-workout" method="POST">

    <label>Title</label>
    <input type="text" name="title" />


    {{!-- <label>EX1</label>
    <select name="exercise">
        <option value="0">Select</option>
        {{#each exec}}
            <option value={{id}}>{{name}}</option>
        {{/each}}
    </select> --}}

    {{!-- <label>EX2</label> 
    <select name="exercise2">
        <option value="0">Select</option>
        {{#each exec}}
            <option value={{id}}>{{name}}</option>
        {{/each}}
    </select>

    <label>EX3</label>
    <select name="exercise3">
        <option value="0">Select</option>
        {{#each exec}}
            <option value={{id}}>{{name}}</option>
        {{/each}}
    </select> --}}

    <br>
    <br>
    <label>Description</label>
     <br>
    <textarea rows="10" cols="50" name="description"></textarea>

    <br>
    <label>Workout Goals</label>
     <select name="workoutGoals">
    <option value="0">Select</option>
    <option>Lose fat</option>
    <option>Get fit</option>
    <option>Gain muscle</option>
    
    
    </select>

    <br>
    <br>
    <br>
    <button type="submit">Post</button>

</form>