<h2>Feed</h2>

{{#each workouts}}

<a href="/workout-detail/{{id}}">{{title}}</a>
<br>

Description: {{description}}
<br>
<br>
Main Goal:  {{workoutGoals}}
<br>
by: {{user.username}}  <img src={{user.photo}}>

<br>

<a href="workout/{{id}}">Add an exercise</a>

<form action="/workout-delete/{{id}}" method="POST">
    <button type="submit">Delete</button>
</form>

<hr />
{{/each}}

