{{!-- <h2 class="profile-title">Public Workout Feed</h2> --}}

<br>

<div  class="filter">
<form action="/workout-list" method="POST">
<label>Filter by Workout Goals</label>
   <select name="workoutGoals" class="filterSelect">
        <option value="0">Select</option>
        <option>Lose fat</option>
        <option>Get fit</option>
        <option>Gain muscle</option>
    </select>
   <button type="submit" >Done</button>    
   </form>

   </div>
   
<br>

<div class="page-top"> 
</div>
<div class="container">
  <div class="row">
    <div class="col">
    </div>



<div class="col-6">
   


{{#each workouts}}
 <section class="card-template">

<div class = "workout-title">
<a href="/workout-detail/{{id}}"><h4>{{title}}</h4></a> 
        <small> {{date}} </small> 
         <hr>
</div>

<div class="workout-post">
        <img src={{user.photo}} alt="user profile pic" style="height: 40px; width: 40px; border-radius:50px;"> 
        <p class="workout-posted-by"> by <a href="/profile/{{user.id}}">{{ user.username}}</a>
        </p>
 </div>

 <div class = "workout-description">
     <p class="workout-caption">"{{description}}"</p>
</div>


<div class = "workout-footer">
<p  class= "workout-goals">{{workoutGoals}} </p>

<form action="/workout/{{id}}/like" method="POST">
        <button class="btn btn-outline-secondary like-button" type="submit"> 💪  {{like.length}}</button>
</form>
</div>


<hr>

<div class="commentSection"> 
 <div class= "workout-comments">

    {{#each comments}}
            <div class="media mt-3">
                <div class="media-body">
                    <p>{{commentBody}}</p>
                </div>
                <div class="mr-3" >
                    <img id="comment-user-picture" src="{{commentUser.photo}}" style="height: 25px; width: 25px; border-radius:50px";>
                       <a href="/profile/{{commentUser.id}}"><p class="mt-0">{{commentUser.username}}</p></a>
                </div>
                </div>
                <hr>
             {{/each}}
            </div> 
           
        
         
     

{{!-- <div class="commentSection">
    <div class = "workout-comments">    
       

            {{#each reviews}}

              <p>{{comment}}</p>
              <p><span>by: </span>{{name}}</p>
              <hr>

            {{/each}}

    </div> --}}


    <div class = "workout-comment-post">
    <form action="/workout/{{id}}/comment" method="POST">
        <textarea name="commentBody" placeholder="Add a comment.."></textarea>
        <button type="submit">Comment</button>
    </form>
    </div>

    {{!-- <div class = "workout-comment-post">
      <form action="/workout/{{id}}/comment" method="POST">
          <textarea name="comment" placeholder="Add a comment.."></textarea>
          <button type="submit">Comment</button>
      </form>
    </div> --}}


</div>
    </section>
  {{/each}} 
  
  
  </div>
    <div class="col">
    </div>
  </div>
</div>
<br>

<hr>
<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 d-flex justify-content-center">
    </div>
    <div class="col-md-4"></div>
  </div>
</div>