<h2 class="profile-title">My Workouts</h2>
<br><br><br>


<div class="page-top"> 
</div>
<div class="container">
  <div class="row">
    <div class="col">
    </div>
<div class="col-6">

{{#each workouts}}

 {{#eq user.id ../userId}}

 <section class="card-template">

    

        <a href="/workout-detail/{{id}}">{{title}}</a>
        

        <div class="private-post">
                <img src={{user.photo}} alt="user profile pic" style="height: 40px; width: 40px; border-radius:50px;"> 
                <p> by <a href="/profile/{{user.id}}">{{user.username}}</a>
                </p>
        <div>

        <div class = "private-description">
             <p class="private-caption">Description: {{description}}</p>
             <p  class= "private-goals"> Main Goal:  {{workoutGoals}} </p>
        <div>

        
 
        

       <div class = "private-edit">

        <a href="/workout/{{id}}">Add an exercise</a>

        <form action="/workout-delete/{{id}}" method="POST">
            <button type="submit">Delete</button>
        </form>
        </div>

        <hr />
    


</div>
    </section>
    {{/eq}}
  {{/each}} 
  </div>
    <div class="col">
    </div>
  </div>
</div>
<br>

</hr>
<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 d-flex justify-content-center">
    </div>
    <div class="col-md-4"></div>
  </div>
</div>








