<h2>My PRIVATE Workouts</h2>

{{#each workouts}}

    {{#eq user.id ../userId}}

        <a href="/workout-detail/{{id}}">{{title}}</a>
        <br>

        <div>
                <img src={{user.photo}} alt="user profile pic" style="height: 40px; width: 40px; border-radius:50px;"> 
                <p> by <a href="/profile/{{user.id}}">{{user.username}}</a>
                </p>
        <div>

        <br>

        Description: {{description}}
        <br>
        <br>
        Main Goal:  {{workoutGoals}}
        <br>

        <a href="/workout/{{id}}">Add an exercise</a>

        <form action="/workout-delete/{{id}}" method="POST">
            <button type="submit">Delete</button>
        </form>

        <hr />
    {{/eq}}

{{/each}}








