<h1>MAIN PROFILE PAGE </h1>

{{#eq user.username activeUserName}}
<a href="/edit-profile/{{loggedInUserID}}">Edit profile</a>
<a href="/edit-account/{{loggedInUserID}}">Edit account</a>
<a href="/my-workouts/{{loggedInUserID}}">My workouts</a>
{{/eq}}

<br>
<br>
<br>
<br>
<br>

username: {{user.username}}<br>

bio: {{user.bio}}<br>

email: {{user.email}}<br>

photo: <img src={{user.photo}} width="80"><br>

disability: {{user.disability}}<br>


activityLevel: {{user.activityLevel}}<br>

age: {{user.age}}<br>

expectedDays: {{user.expectedDays}};<br>

gender: {{user.gender}}<br>

height: {{user.height}}<br>

weight: {{user.weight}}<br>

workoutGoals: {{user.workoutGoals}}<br>