<h1>MAIN PROFILE PAGE </h1>


<a href="/edit-profile/{{loggedInUserID}}">Edit profile</a>
<a href="/edit-account/{{loggedInUserID}}">Edit account</a>
<a href="/my-workouts/{{loggedInUserID}}">My workouts</a>

<br>
<br>
<br>
<br>
Gender: {{gender}}
<br>

username: {{username}}<br>

bio: {{bio}}<br>

email: {{email}}<br>

photo: <img src={{photo}} width="80"><br>

disability: {{disability}}<br>


activityLevel: {{activityLevel}}<br>

age: {{activityLevel}}<br>

expectedDays: {{expectedDays}};<br>

gender: {{gender}}<br>

height: {{height}}<br>

weight: {{weight}}<br>

workoutGoals: {{workoutGoals}}<br>